.header{
    border: 1rem;
    height: 16%;
    display: flex;
    align-items: center;
    background-color:#64B5F6;
    border: solid color #1565C0;
    
}

h1{
    color: antiquewhite;
    padding: 10px;
    
}